
drawio/templates/v2.0/Using Build/compatible with version 15.3.X : Beta 1 - Deprecated/.$IKS SR MZ Classic.drawio.bkp
*.bkp
drawio/templates/v2.0/Using Build/compatible with version 16.5.X and higher : Beta 2/.DS_Store
drawio/templates/v2.0/Using Build/compatible with version 16.5.X and higher : Beta 2/Architecture Conventions/.DS_Store
drawio/templates/v2.0/Using Static - compatible with drawio tool/.DS_Store
drawio/stencils/.DS_Store
images/v2.0/.DS_Store
.DS_Store
drawio/.DS_Store
drawio/stencils/.DS_Store
images/v2.0/.DS_Store
images/v2.0/.DS_Store
