# global owners.
* @ibmcloud/ibm-cloud-stencils-global-reviewers

# people that own all readme files.
*.md @ibmcloud/ibm-cloud-stencils-diagram-reviewers

# people that own all readme files.
*.tsv @ibmcloud/ibm-cloud-stencils-diagram-reviewers

# people that own all releaserc files.
*.releaserc @ibmcloud/ibm-cloud-stencils-technical-reviewers

# people that own all javascript files.
*.js @ibmcloud/ibm-cloud-stencils-technical-reviewers

# people that own all json script files.
*.json @ibmcloud/ibm-cloud-stencils-technical-reviewers

# people that own all bash script files.
*.sh @ibmcloud/ibm-cloud-stencils-technical-reviewers

# people that own all yaml files.
*.yml @ibmcloud/ibm-cloud-stencils-technical-reviewers

# people that own all drawio files.
*.drawio @ibmcloud/ibm-cloud-stencils-diagram-reviewers

# people that own all xml files.
*.xml @ibmcloud/ibm-cloud-stencils-diagram-reviewers

# people that own all svg files.
*.svg @ibmcloud/ibm-cloud-stencils-diagram-reviewers

# people that own all png files.
*.png @ibmcloud/ibm-cloud-stencils-diagram-reviewers

# people that own all xml files.
*.xml @ibmcloud/ibm-cloud-stencils-diagram-reviewers

# no people own gitignore.
*.gitignore
